<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ADD" value="true" />
    <add key="ADDU" value="true" />
    <add key="SUB" value="true" />
    <add key="SUBU" value="true" />
    <add key="AND" value="true" />
    <add key="OR" value="true" />
    <add key="XOR" value="true" />
    <add key="NOR" value="true" />
    <add key="SLT" value="true" />
    <add key="SLTU" value="true" />
    <add key="SLL" value="true" />
    <add key="SRL" value="true" />
    <add key="SRA" value="true" />
    <add key="SLLV" value="true" />
    <add key="SRLV" value="true" />
    <add key="SRLV" value="true" />
    <add key="SRAV" value="true" />
    <add key="JR" value="true" />
    <add key="JALR" value="true" />
    <add key="ADDI" value="true" />
    <add key="ADDIU" value="true" />
    <add key="ANDI" value="true" />
    <add key="ORI" value="true" />
    <add key="XORI" value="true" />
    <add key="LUI" value="true" />
    <add key="SLTI" value="true" />
    <add key="SLTIU" value="true" />
    <add key="LW" value="true" />
    <add key="SW" value="true" />
    <add key="LB" value="true" />
    <add key="LBU" value="true" />
    <add key="LH" value="true" />
    <add key="LHU" value="true" />
    <add key="SB" value="true" />
    <add key="SH" value="true" />
    <add key="BEQ" value="true" />
    <add key="BNE" value="true" />
    <add key="BGEZ" value="true" />
    <add key="BGEZAL" value="true" />
    <add key="BGTZ" value="true" />
    <add key="BLEZ" value="true" />
    <add key="BLTZ" value="true" />
    <add key="BLTZAL" value="true" />
    <add key="J" value="false" />
    <add key="JAL" value="false" />
    <add key="SUBI" value="false" />
    <add key="MOVE" value="false" />
    <add key="NOP" value="false" />
    <add key="LI" value="false" />
    <add key="LA" value="false" />
    <add key="SYSCALL" value="false" />

    <add key="maximm" value="32767" />
    <add key="minimm" value="32768"/>

    <add key="codenum" value="100"/>
    
  </appSettings>
</configuration>