#mips246brand  {    
    margin-left: 10px;
}

.container {
    position: relative;
    padding: 80px 0;
}

.mips246font {    
    font-family: 'Advent Pro', sans-serif;
}

#source_code_area, #target_code_area, #test_code_area {
    resize: none;
    height: 100%;
}
/**//**/
#assemble_codearea {
    height: 100%;
}

.mips246cnfont {
    font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu

}


.signin-body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
}
.form-signin .form-signin-heading,
      .form-signin .checkbox {
    margin-bottom: 10px;
 }

.form-signin input[type="text"],
 .form-signin input[type="password"] {
     font-size: 16px;
     height: auto;
     margin-bottom: 15px;
     padding: 7px 9px;
}

body > .navbar .loginbrand {
padding-right: 0;
padding-left: 0;
margin-left: 20px;
float: right;
font-weight: bold;
color: #000;
text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
transition: all .2s linear;
}

.sign-container {
    height: 300px;

}