#mips246brand  {    
    margin-left: 10px;
}

.container {
    position: relative;
    padding: 80px 0;
}

.mips246font {    
    font-family: 'Advent Pro', sans-serif;
}

#source_code_area, #target_code_area, #test_code_area {
    resize: none;
    height: 100%;
}

#assemble_codearea {
    height: 100%;
}