<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="IDEPath" value="C:\MIPS246_Software\MIPS246\MIPS246.Web\file\IDE" />

    <add key="connectionString" value="mongodb://localhost" />
    <add key="dbString" value="MIPS246" />
    
    <add key="SimulatorLocalPath" value="C:\MIPS246_Software\MIPS246\MIPS246.Web\file\Simulator" />
    <add key="SimulatorFileName" value="MIPS246Simulator.exe" />
    <add key="SimulatorVersion" value="1.0" />
    <add key="SimulatorManualName" value="MIPS246SimulatorManual.docx" />

    <add key="AssemblerLocalPath" value="C:\MIPS246_Software\MIPS246\MIPS246.Web\file\Assembler" />
    <add key="AssemblerFileName" value="MIPS246Assembler.exe" />
    <add key="AssemblerVersion" value="1.0.4" />
    <add key="AssemblerManualName" value="汇编器使用手册.pdf" />
  </appSettings>
    <system.webServer>
        <staticContent>
            <remove fileExtension=".txt" />
            <mimeMap fileExtension=".coe" mimeType="text/plain" />
            <mimeMap fileExtension=".txt" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>