<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <addkey addkey="ADD" value="true"></addkey>
  <addkey addkey="ADDU" value="true"></addkey>
  <addkey addkey="SUB" value="true"></addkey>
  <addkey addkey="SUBU" value="true"></addkey>
  <addkey addkey="AND" value="true"></addkey>
  <addkey addkey="OR" value="true"></addkey>
  <addkey addkey="XOR" value="true"></addkey>
  <addkey addkey="NOR" value="true"></addkey>
  <addkey addkey="SLT" value="true"></addkey>
  <addkey addkey="SLTU" value="true"></addkey>
  <addkey addkey="SLL" value="true"></addkey>
  <addkey addkey="SRL" value="true"></addkey>
  <addkey addkey="SRA" value="true"></addkey>
  <addkey addkey="SLLV" value="true"></addkey>
  <addkey addkey="SRLV" value="true"></addkey>
  <addkey addkey="SRLV" value="true"></addkey>
  <addkey addkey="SRAV" value="true"></addkey>
  <addkey addkey="JR" value="true"></addkey>
  <addkey addkey="JALR" value="true"></addkey>
  <addkey addkey="ADDI" value="true"></addkey>
  <addkey addkey="ADDIU" value="true"></addkey>
  <addkey addkey="ANDI" value="true"></addkey>
  <addkey addkey="ORI" value="true"></addkey>
  <addkey addkey="XORI" value="true"></addkey>
  <addkey addkey="LUI" value="true"></addkey>
  <addkey addkey="SLTI" value="true"></addkey>
  <addkey addkey="SLTIU" value="true"></addkey>
  <addkey addkey="LW" value="true"></addkey>
  <addkey addkey="SW" value="true"></addkey>
  <addkey addkey="LB" value="true"></addkey>
  <addkey addkey="LBU" value="true"></addkey>
  <addkey addkey="LH" value="true"></addkey>
  <addkey addkey="LHU" value="true"></addkey>
  <addkey addkey="SB" value="true"></addkey>
  <addkey addkey="SH" value="true"></addkey>
  <addkey addkey="BEQ" value="true"></addkey>
  <addkey addkey="BNE" value="true"></addkey>
  <addkey addkey="BGEZ" value="true"></addkey>
  <addkey addkey="BGEZAL" value="true"></addkey>
  <addkey addkey="BGTZ" value="true"></addkey>
  <addkey addkey="BLEZ" value="true"></addkey>
  <addkey addkey="BLTZ" value="true"></addkey>
  <addkey addkey="BLTZAL" value="true"></addkey>
  <addkey addkey="J" value="true"></addkey>
  <addkey addkey="JAL" value="true"></addkey>
  <addkey addkey="SUBI" value="true"></addkey>
  <addkey addkey="MOVE" value="true"></addkey>
  <addkey addkey="NOP" value="true"></addkey>
  <addkey addkey="LI" value="true"></addkey>
  <addkey addkey="LA" value="true"></addkey>
  <addkey addkey="SYSCALL" value="true"></addkey>
</configuration>